<div class="form-group">
  <h2>Edit Service</h2>
  <label>CID</label>
  <input name="cid" class="form-control" ng-model="data.cid" />
  <label>Name</label>
  <input name="name" class="form-control" ng-model="data.name" />
  <label>Address</label>
  <input name="address" class="form-control" ng-model="data.address" />
  <label>IPv4 Address</label>
  <input name="ipaddress" class="form-control" ng-model="data.ipaddress" />
  <label>GEO</label> Use <a href="http://mygeoposition.com/" target="_blank">This tool</a> to get Co-ords
  <div class="input-group">
    <label class="input-group-addon">Latitude</label>
    <input name="latitude" class="form-control" ng-model="data.latitude" />
    <label class="input-group-addon">Longitude</label>
    <input name="longitude" class="form-control" ng-model="data.longitude" />
  </div>
  <br>
  <button ng-click="update()" class="btn btn-sm btn-primary">Update!</button>
  <button ng-click="delete()" class="btn btn-sm btn-danger">Delete!</button>
</div>
