<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/#/" class="navbar-brand">
        <img src="/images/munster.jpg" alt="Brand" style="height: 25px; display: inline"/> It's Alive!
      </a>
    </div>

    <button ng-click="logOut()"
            class="btn btn-sm btn-warning navbar-btn navbar-right"
            style="margin-right: 20px"
            ng-show="authenticated">
        <span class="glyphicon glyphicon-log-out"></span>
    </button>

    <a href="/admin"
       class="btn btn-sm btn-primary navbar-btn navbar-right"
       style="margin-right: 10px"
       ng-show="isAdmin">
       <span class="glyphicon glyphicon-cog"</span>
    </a>

    <div class="navbar-text navbar-right" style="margin-right: 20px">{{datetime | date:'medium'}}</div>
  </div>
</nav>
