<div class="form-group">
  <h2>Add Service</h2>
  <label>CID</label>
  <input name="cid" class="form-control" ng-model="data.cid" />
  <label>Name</label>
  <input name="name" class="form-control" ng-model="data.name" />
  <label>Address</label>
  <input name="address" class="form-control" ng-model="data.address" />
  <label>IPv4 Address</label>
  <input name="ipaddress" class="form-control" ng-model="data.ipaddress" />
  <br>
  <button ng-click="create()" class="btn btn-sm btn-primary">Create!</button>
</div>
